<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <!--Connectivity Related Settings-->
        <!--Binance API Address-->
        <add key="BinanceAPIAddress" value="https://api.binance.com"/>
        <!--API Security Key supplied by Binance-->
        <add key="APIKey" value ="abc123key"/>
      
        <!--Allocation Related Settings-->
        <!--Integer, represents the percent an asset can be from the base currency before triggering a rebalance.-->
        <add key="RebalanceThreshold" value="20" />
        <!--//String, currency trading symbol.  Base currency must have direct market into all others in portfolio.-->
        <add key="BaseCurrency" value="BTC" />
        <!--Integer value of 10 to 90, percentage of portfolio to allocation to this currency.-->
        <add key="BaseCurrencyAllocation" value="20" />
        <!--Decimal, initial position before trading algorithm.-->
        <add key="BaseCurrencyInitialAllocation" value="20" />
        <!--String, currency trading symbol.-->
        <add key="Currency1" value="XRP" />
        <!--Integer value of 10 to 90, percentage of portfolio to allocation to this currency.-->
        <add key="Currency1Allocation" value="40" />
        <!--Decimal, initial position before trading algorithm.-->
        <add key="Currency1InitialAllocation" value="20" />
        <!--String, currency trading symbol.-->
        <add key="Currency2" value="IOTA" />
        <!--Integer value of 10 to 90, percentage of portfolio to allocation to this currency.-->
        <add key="Currency2Allocation" value="40" />
        <!--Decimal, initial position before trading algorithm.-->
        <add key="Currency2InitialAllocation" value="20" />
        <!--String, currency trading symbol.-->
        <add key="Currency3" value="" />
        <!--Integer value of 10 to 90, percentage of portfolio to allocation to this currency.-->
        <add key="Currency3Allocation" value="0" />
        <!--Decimal, initial position before trading algorithm.-->
        <add key="Currency3InitialAllocation" value="0" />
        <!--String, currency trading symbol.-->
        <add key="Currency4" value="" />
        <!--Integer value of 10 to 90, percentage of portfolio to allocation to this currency.-->
        <add key="Currency4Allocation" value="" />
        <!--Decimal, initial position before trading algorithm.-->
        <add key="Currency4InitialAllocation" value="" />
        
        <!--Circuit Breaker Rlated Settings-->
        <!--If true, will prevent trading if a certain # trades has occurred in the last # of hours.-->
        <add key="UseCircuitBreaker" value="true" />
        <!--Integer, Number of trades within Circruit Breaker period to prevent operation.-->
        <add key="CircuitBreakerTrades" value="3" />
        <!--Integer, Number of hours to look back when determining to trip trading prevention.-->
        <add key="CircuitBreakerHours" value="24" />
       
        <!--Notification Related Settings-->
        <!--String, Email address information sent from.-->
        <add key="BATsEmailAddress" value="BATMOBILE@noreply.com" />
        <!--String, Email Server to use when sending email.-->
        <add key="SMTPServer" value="smtp.gmail.comm" />      
        <!--String, Email address to send information to.-->
        <add key="InformationEmailAddress" value="abc@123.com" />
        <!--Boolean, Include calculations to compare algorithm results to Buy and Hold strategy.-->
        <add key="BuyAndHoldComparison" value="true" />      
        <!--Boolean, Indicates to send an email detailing application load.-->
        <add key="SendLoadingEmail" value="true" />
        <!--Boolean, Indicates to send an email detailing algorithm findings.-->
        <add key="SendAlgorithmEmail" value="true" />
        <!--Boolean, Indicates to send an email detailing trade executions.-->
        <add key="SendTradeExecutionEmail" value="true" />
        <!--Boolean, Indicates if the program will not run if an error is reported in operation log within the most recent circuit breaker hours.-->
        <add key="FailOnError" value="true" />
      
    
    </appSettings>
</configuration>